{% extends "base.html" %}
{% block title %}About Me{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-4">
            <img src="/static/wycliff.jpg" class="img-fluid rounded-circle" alt="My Photo">
        </div>
        <div class="col-md-8">
            <h2>About Wycliff K' Asharvin</h2>
            <p>I'm a passionate DevOps & DevSecOps Engineer based in Dubai. I specialize in cloud infrastructure, automation, CI/CD, container security, and compliance-focused DevSecOps solutions.</p>
        </div>
    </div>
{% endblock %}
