<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - My DevSecOps Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>My DevSecOps Project</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About Me</a>
            <a href="/compliance">Compliance Artifacts</a>
            <a href="/infrastructure">Infrastructure</a>
        </nav>
    </header>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>© 2025 Wycliff K' Asharvin. All rights reserved.</p>
    </footer>
</body>
</html>

